
.helpcenter{
  padding: 20px;
  background: none !important
}
.accordion{
  border:1px solid #c4c4c4;
}
.accordion > .nested-accordion {
  cursor: pointer;
  border-bottom: 1px solid #c4c4c4;
}
.nested-accordion:last-child{
  border-bottom: none;
}
.comment .nested-accordion:last-child{

}
.nested-accordion h3 {
  padding: 0 0.5em;
  margin: 0;
}
.nested-accordion .comment {
  line-height: 1.5;
  padding-right: 0;
}
.nested-accordion h3 {
  color: #2f353d;
  font-size: 16px;
}
.comment .nested-accordion h3:before{
  display: none;
}
.comment .nested-accordion h3 {
  padding: 0.25em 1.80em;
  color: #fba601!important;
}
.comment .nested-accordion h3:first-child{

  border-top: 1px solid #c4c4c4;
}
.nested-accordion h3:before, .nested-accordion h4:before {
  content: "+";
  padding-right: 0.25em;
  color: #becbd2;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Lucida Console", Monaco, monospace;
  position: relative;
  right: 0;
  top: 1px;
}
.nested-accordion h4.no-plus::before{
  content: none
}
.nested-accordion h3.selected {
  color: #000;
}
.nested-accordion h3.selected:before, .nested-accordion h4.selected:before {
  content: "-";
}
.nested-accordion .comment {
  color: #000;
  border-top: none;
}
.nested-accordion a {
  text-decoration: none;
  color: #fba601;
}
.nested-accordion a.btn.btnb.arrow-right-btn{
  color: #000
}
.nested-accordion h3 a{
  color: #000;
}

/*** new helpcenter **/
.new-helpcenter .nav-tabs{
  background: #1b1b1b;
  border-bottom: none;
}
.new-helpcenter .nav-tabs.sub{
  background: #464646
}
.new-helpcenter .nav-tabs>li{
  display: block;
  float: none
}
.new-helpcenter .nav-tabs>li a{
  color: #ccc;
  border: none;
  border-bottom: 1px solid #000;
  margin-right: 0;
  border-radius: 0
}
.new-helpcenter .nav-tabs.main>li a{
  font-size: 15px;
  font-weight: 700;
  padding: 5px
}
.new-helpcenter .nav-tabs>li.active>a, .new-helpcenter .nav-tabs>li.active>a:focus, .new-helpcenter .nav-tabs>li.active>a:hover{
  background-color: inherit;
  background: #464646;
  color: #fba601;
  border-bottom: solid 1px #000 !important
}
.new-helpcenter .title{
  text-align: center;
  background: #1a1a1a;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 10px
}
.new-helpcenter .title .fa{
  font-size: 20px;
  color: #fff
}
.new-helpcenter .tab-content .tab-pane{
  padding-top: 0;
  padding-bottom: 0
}
.new-helpcenter .content{
  padding: 5px 10px;
  background: #464646;
  margin: 0 1px
}
.new-helpcenter .search input{
  background: #fff !important;
  border-radius: 0 !important;
  color: #000 !important;
  font-size: 13px;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important
}
.new-helpcenter .search input:active, .new-helpcenter .search input:focus{
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important
}
.new-helpcenter .search input::-webkit-input-placeholder{
  color: #ccc !important
}
.new-helpcenter .search input:-ms-input-placeholder{
  color: #ccc !important
}
.new-helpcenter .search input::placeholder{
  color: #ccc !important
}
.new-helpcenter .search input:focus::-webkit-input-placeholder{
  color: #000 !important
}
.new-helpcenter .search input:focus:-ms-input-placeholder{
  color: #000 !important
}
.new-helpcenter .search input:focus::placeholder{
  color: #000 !important
}
.search-trigger a{
  color: #fff;
  font-size: 18px;
  margin: 10px 0
}
