#chartdiv {
  width: 65%;
  height: 650px;
  background:#000;
  margin: 0 auto;
  /*border-radius: 22%;*/
}

.map-marker {
    /* adjusting for the marker dimensions
    so that it is centered on coordinates */
    margin-left: -8px;
    margin-top: -8px;
}
.map-marker.map-clickable {
    cursor: pointer;
}
.amcharts-balloon-div {
  display: none;
}
.img {
    /*width: 10px;*/
    /*height: 10px;*/
    /*border: 5px solid #f7f14c;*/
    /*-webkit-border-radius: 30px;*/
    /*-moz-border-radius: 30px;*/
    /*border-radius: 30px;*/
    /*background-color: #716f42;*/
    width: 55px;
    height: 55px;
    z-index: 10;
  }
  #China{
    /*top: 43% !important;*/
    /*left: 66% !important;*/
    /*position: absolute;*/
  }

  /*Media Queries*/
  /* Portrait and Landscape */
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
      .img {
        width: 25px;
        height: 25px;
      }
      #chartdiv {
        width: 100%;
        height: 350px;
      }
    }
    /* Portrait and Landscape */
    @media only screen
      and (min-device-width: 320px)
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2) {
        .img {
          width: 25px;
          height: 25px;
        }
        #chartdiv {
          width: 100%;
          height: 350px;
        }
      }
      /* Portrait and Landscape */
      @media only screen
        and (min-device-width: 414px)
        and (max-device-width: 737px)
        and (-webkit-min-device-pixel-ratio: 3) {
          .img {
            width: 30px;
            height: 30px;
          }
          #chartdiv {
            width: 100% !important;
            height: 500px !important;
          }
        }
        /* Portrait and Landscape */
      @media only screen
        and (min-device-width: 768px)
        and (max-device-width: 1024px)
        and (-webkit-min-device-pixel-ratio: 2) {
          .img {
            width: 40px;
            height: 40px;
          }
          #chartdiv {
            width: 100% !important;
            height: 550px !important;
          }
        }
      @media screen
      and (min-device-width: 1200px)
      and (max-device-width: 1600px)
      and (-webkit-min-device-pixel-ratio: 1) {
        .img {
          width: 50px;
          height: 50px;
        }
        #chartdiv {
          width: 100%;
          height: 620px;
        }
      }
